.about {
  padding-top: 40px;
  padding-bottom: 62px;
  background: url("../img/about-mobile@1x.png") no-repeat center top / cover;

  @include bg-dark;
  @include brs-bottom (30px, $main-color, $main-color-darker-30);
}

.about__inner {
  padding-left: 25px;
  padding-right: 25px;
}

.about__secondary-title {
  margin-bottom: 15px;
}

.about__text {
  margin: 0;
  margin-bottom: 15px;

  &--bold {
    font-weight: 600;
  }
}

.about__button {
  display: none;
}

@media (min-width: $tablet-width) {
  .about {
    padding-top: 50px;
    padding-bottom: 80px;

    background-image: url("../img/about-tablet@1x.png");
    background-size: contain;
    background-position: right center;

    font-size: $base-font-size * 1.75;
  }

  .about__inner {
    width: 54%;
    padding-left: 35px;
    padding-right: 35px;
  }

  .about__text {
    &--bold {
      font-size: $base-font-size * 1.3125;
    }
  }

  .about__button {
    display: inline-flex;
  }
}

@media (min-width: $desktop-width) {
  .about {
    padding-top: 100px;
    padding-bottom: 160px;

    background-image: url("../img/about-desktop@1x.png");
    background-size: contain;
  }

  .about__inner {
    width: 760px;
    padding-left: 70px;
    padding-right: 70px;
  }

  .about__text {
    &--bold {
      padding-right: 160px;
    }
  }
}
