.add-plans {
  @include brs-top(30px, $main-color-darker-10, $main-color-darker-20);
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $main-color-darker-20;
}

.add-plans__secondary-title {
  position: relative;
  margin-bottom: 20px;
  padding-right: 65px;

  .marker-list {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
}

.add-plans__list {
  @include reset-list;
}

.add-plans__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .add-plans {
    @include brs-top(60px, $main-color-darker-10, $main-color-darker-20);
  }
}
