.add-plans {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $main-color-darker-20;

  @include brs-top(30px, $main-color-darker-10, $main-color-darker-20);

  &.container {
    padding-left: 75px;
    padding-right: 75px;
  }
}

.add-plans__top {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
  padding-right: 20px;

  .add-plan__marker-list {
    display: flex;
    flex-flow: row wrap;
    margin-right: 5px;
  }

  .add-plan__marker-item {
    margin-bottom: 0;
    padding-left: 20px;

    &:last-child {
      padding-left: 0;
    }
  }

  span {
    display: none;
  }
}

.add-plans__list {
  @include reset-list;
}

.add-plans__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .add-plans {
    @include brs-top(60px, $main-color-darker-10, $main-color-darker-20);

    &.container {
      padding-left: 60px;
      padding-right: 60px;
    }
  }

  .add-plans__top {
    .add-plan__marker-list {
      display: none;
    }
  }

  .add-plans__secondary-title {
    margin-left: 60px;
  }
}
