.add-plan {
  padding: 20px;
  background-color: $white;
  border-radius: $base-border-radius;
  color: $main-color-darker-30;

  .custom-checkbox__label {
    padding-left: 40px;

    &::before {
      width: 26px;
      height: 26px;
      border: 1px solid #cbced9;
    }

    &::after {
      left: 9px;
    }
  }
}

.add-plan__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: $base-font-size * 1.25;
  font-weight: 600;
}

.add-plan__title-item {
  display: block;
}

.add-plan__text {
  margin: 0;
  margin-bottom: 20px;
}

.add-plan__marker-list {
  @include reset-list;
  display: none;

  font-size: $base-font-size * 1.25;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba($black, 0.6);
}

.add-plan__marker-item {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;

  /* Custom marker*/
  &::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: currentColor;
  }

  &--current {
    color: $main-color-darker-30;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.add-plan__middle {
  display: flex;
  flex-flow: column wrap;
  order: 2;
}

.add-plan__group {
  margin-bottom: 20px;
}

.add-plan__buttons {
  display: flex;
  flex-flow: column wrap;
}

.add-plan__button {
  margin-bottom: 10px;

  .button__icon {
    display: none;
  }

  &:nth-child(2) {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .add-plan {
    display: flex;
    flex-flow: column wrap;
    padding: 44px;
  }

  .add-plan__group {
    padding-top: 20px;
    border-top: 1px solid rgba($black, 0.05);

    &--companion {
      order: 2;
    }

    &--checkbox {
      padding-top: 0;
      border-top: 0;
      order: 3;
    }

    &--days {
      order: 4;
    }

    &--datepicker {
      padding-top: 0;
      border-top: 0;
      order: 5;
    }

    &--country {
      position: relative;
      padding-bottom: 20px;
      order: 2;

      /* Vertical line */
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 132px;
        width: 1px;
        height: 100%;
        background-image: linear-gradient(to bottom, rgba($black, 0.05) 93%, transparent 100%);
      }
    }

    &--textarea {
      order: 2;
    }
  }

  .add-plan__text {
    font-size: $base-font-size * 1.25;
  }

  .add-plan__buttons {
    flex-direction: row;
    order: 6;
  }

  .add-plan__button {
    margin-bottom: 0;
    text-transform: initial;

    .button__icon {
      display: inline;
    }

    &:nth-child(1) {
      justify-content: space-between;
      min-height: 81px;
      min-width: 285px;
      padding: 0 34px;
    }

    &:nth-child(2) {
      padding: 0;
      margin-right: 0;
      margin-left: auto;

      .button__text {
        margin-left: 10px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .add-plan {
    padding: 80px 160px 105px;
  }

  .add-plan__head {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .add-plan__title-item {
    display: inline;
  }

  .add-plan__marker-list {
    display: block;
  }

  .add-plan__head-item {
    &:nth-child(1) {
      width: 760px;
    }

    &:nth-child(2) {
      width: 228px;
    }
  }

  .add-plan__middle {
    flex-flow: row wrap;
    padding-top: 20px;
    border-top: 1px solid rgba($black, 0.05);
  }

  .add-plan__group {
    padding-top: 0;
    border-top: 0;

    &--companion,
    &--days {
      width: 50%;
    }

    &--checkbox {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      width: 228px;
      margin-left: auto;
    }

    &--country {
      padding-top: 20px;
      border-top: 1px solid rgba(0, 0, 0, 0.05);

      /* Vertical line */
      &::after {
        right: 221px;
      }
    }
  }

  .add-plan__textarea-list {
    width: 900px;
  }
}
