.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 11px 20px;
  border: 0;

  font-size: $base-font-size * 1.125;
  line-height: 1;
  font-weight: 600;
  color: $main-color-dark-30;
  text-decoration: none;
  text-transform: uppercase;

  background-color: transparent;

  cursor: pointer;

  &:hover {
    .button__text,
    .button__icon {
      opacity: 0.7;
    }
  }

  &:active {
    .button__text,
    .button__icon {
      opacity: 0.3;
    }
  }

  &--color {
    &-accent {
      background-color: $main-color-accent;

      &:hover {
        background-color: $main-color-accent-10;

        .button__text,
        .button__icon {
          opacity: 1;
        }
      }

      &:active {
        .button__text,
        .button__icon {
          opacity: 0.3;
        }
      }
    }

    &-white {
      background-color: $white;

      &:hover {
        box-shadow: 0 2px 10px 0 rgba($black, 0.08);
      }

      &:active {
        background-color: $main-color-accent-20;

        .button__text,
        .button__icon {
          opacity: 0.3;
        }
      }
    }

    &-blue {
      background-color: $main-color-light-60;

      &:hover {
        background-color: $main-color-light-70;

        .button__text,
        .button__icon {
          opacity: 1;
        }
      }

      &:active {
        .button__text,
        .button__icon {
          opacity: 0.3;
        }
      }
    }
  }

  &--round {
    &-base {
      border-radius: 25px;
    }

    &-small {
      border-radius: 20px;
    }
  }

  &--size {
    &-large {
      min-width: 274px;
      padding: 22px 27px 21px 23px;

      font-size: $base-font-size * 1.125;
      text-transform: initial;
    }
  }
}

.button__inner {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.button__icon {
  margin-left: auto;
  fill: currentColor;
}

@media (min-width: $tablet-width) {
  .button {
    &--size {
      &-large {
        padding: 30px 37px 27px 32px;

        font-size: $base-font-size * 1.5;
      }
    }
  }
}
