.card {
  position: relative;
  display: flex;
  flex-flow: column-reverse wrap;
  border-radius: $base-border-radius;
  background-color: $white;
  overflow: hidden;

  &--direction {
    .card__picture {
      width: 100%;
      height: auto;
    }

    .card__content {
      justify-content: space-between;
      margin-top: -10px;
      border-radius: $base-border-radius;
      background-color: $white;
    }

    .card__title {
      width: auto;
      order: 2;
      overflow: auto;
    }

    .card__description {
      margin: 0;
      order: 4;
    }

    .card__travelers-counter {
      width: auto;
      order: 3;
    }

    .card__countries-flags {
      margin-top: -35px;
      margin-bottom: 14px;
      order: 1;
    }

    &:last-of-type {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 81px;
        background-image: linear-gradient(to top, $main-color, transparent);
        z-index: 2;
      }
    }
  }

  &--users {
    .card__picture {
      width: 100%;
      height: auto;
    }

    .card__content {
      flex-direction: column;
      justify-content: flex-start;
      flex-grow: 1;
      padding-bottom: 16px;
    }

    .card__title {
      margin-bottom: 10px;
      text-align: center;
      order: 2;
    }

    .card__tags {
      margin: 0;
      margin-bottom: 6px;
      text-align: center;
      order: 3;
    }

    .card__user-level {
      position: absolute;
      top: 16px;
      left: 16px;
    }

    .card__countries-flags {
      margin-top: -35px;
      margin-bottom: 15px;
      order: 1;
    }

    .card__transports {
      margin-top: auto;
    }

    /* Переопределение стилей дочерних блоков через модификатор родительского блока. Скорее плохо, чем хорошо */

    .countries-flags {
      justify-content: center;
    }

    .transports {
      flex-direction: row;
    }
  }

  &--catalog {
    flex-direction: column;
    padding: 20px;

    .card__picture {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }

    .card__content {
      padding: 0;
      margin-top: -70px;
      font-weight: 400;
      color: rgba($main-color-text, 1);
    }

    .card__title {
      min-height: 42px;
      margin-left: 80px;
      order: 1;
    }

    .card__transport {
      width: 70%;
    }

    .card__user-level {
      margin-left: auto;
      text-align: center;
    }

    .card__wrapper {
      display: flex;
      flex-flow: row-reverse wrap;
      justify-content: space-between;
      align-items: flex-start;
      order: 7;
    }

    /* Переопределение стилей дочерних блоков через модификатор родительского блока. Скорее плохо, чем хорошо */

    .user-level__text {
      display: none;
    }

    .countries-flags {
      flex-direction: column;
    }

    .transports {
      justify-content: flex-start;
      margin-top: 22px;
    }
  }
}

.card__picture {
  position: relative;
  overflow: hidden;
}

.card__img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.card__content {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  padding: 23px 23px 20px;
  font-weight: 500;
  color: rgba($main-color-text, 0.3);
  z-index: 1;

  & > * {
    width: 100%;
    order: 100;
  }
}

.card__title-link {
  color: inherit;
  text-decoration: none;
}

.card__subtitle {
  position: relative;
  margin: 0;
  margin-bottom: 10px;

  // Horizontal line
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translateY(-50%);
    width: 9999px;
    height: 1px;
    background-color: #d6d6d6;
  }

  span {
    position: relative;
    padding: 0 5px;
    margin-left: -5px;
    background-color: $white;
  }
}

.card__likes-counter {
  position: relative;
  margin-left: 40px;
  order: 2;
}

.card__tags {
  order: 3;
}

.card__countries-flags {
  order: 4;
}

.card__transport {
  order: 5;
}

.card__button {
  margin-top: 20px;
}

.card__travelers-counter-svg {
  width: 11px;
  height: 11px;
  margin-right: 1px;
  background-color: navy;
}

@media (min-width: $tablet-width) {
  .card {
    &--direction {
      border-radius: 20px;
      flex-direction: row;

      .card__content {
        flex-direction: column;
        justify-content: flex-start;
        flex-grow: 1;

        padding: 31px 60px 17px 31px;
        margin-top: 0;
      }

      .card__picture {
        width: 186px;
        height: 140px;
      }

      .card__countries-flags {
        position: absolute;
        top: 16px;
        right: -36px;
        width: initial;
        margin: 0;
      }

      .card__title {
        margin-bottom: 1px;

        font-size: $base-font-size * 1.5;
      }

      .card__description {
        margin-top: 0;
        margin-bottom: 13px;

        font-size: $base-font-size * 1.25;

        order: 3;
      }

      .card__travelers-counter {
        font-size: $base-font-size * 1.25;
        order: 4;
      }

      .card__travelers-counter-text {
        margin-left: 10px;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }

    &--users {
      border-radius: 20px;

      .card__content {
        padding-top: 31px;
        padding-bottom: 23px;
      }

      .card__title {
        margin-bottom: 19px;

        font-size: $base-font-size * 1.5;
      }

      .card__countries-flags {
        position: relative;
        top: -4px;

        margin-top: -39px;
      }

      .card__tags {
        margin-bottom: 14px;

        font-size: $base-font-size * 1.25;
      }

      .card__user-level {
        top: 20px;
        left: 21px;
      }
    }

    &--catalog {
      .card__picture {
        width: 190px;
        height: 190px;
        border-radius: $base-border-radius;
      }

      .card__content {
        position: relative;
        margin-top: -190px;
        align-items: center;
        font-size: $base-font-size * 1.25;
      }

      .card__title {
        min-height: auto;
        margin-left: 210px;
        margin-right: 100px;
        margin-bottom: 10px;
        font-size: $base-font-size * 1.875;
      }

      .card__subtitle {
        display: none;
        font-size: $base-font-size * 0.9375;

        &--countries-flags {
          display: block;
          margin-left: 38px;
        }
      }

      .card__tags {
        min-height: 78px;
        margin-top: 0;
        margin-right: 100px;
        margin-bottom: 10px;
        margin-left: 210px;
        order: 2;
      }

      .card__countries-flags {
        margin-top: 20px;
        order: 7;
      }

      .card__likes-counter {
        width: auto;
        margin: 0;
        margin-top: 10px;
        padding-left: 0;
        font-size: $base-font-size * 1.25;
        order: 4;
      }

      .card__transport {
        width: auto;
      }

      .card__user-level {
        margin-left: 0;
      }

      .card__wrapper {
        position: absolute;
        top: 0;
        right: 0;

        flex-direction: column-reverse;
        align-items: center;

        width: auto;
      }

      .card__button {
        width: auto;
        margin-left: 210px;
        font-size: $base-font-size * 1.25;
        order: 3;
      }

      /* Переопределение стилей дочерних блоков через модификатор родительского блока. Скорее плохо, чем хорошо */

      .user-level__text {
        display: block;
      }

      .countries-flags {
        flex-direction: row;
      }

      .transports {
        flex-direction: column;
        margin: 0;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .card {
    &--direction {
      .card__content {
        padding-top: 24px;
        padding-left: 26px;
      }

      .card__description {
        margin-bottom: 16px;
      }

      .card__countries-flags {
        top: 21px;
      }

      &:last-child {
        &::after {
          display: block;
        }
      }
    }

    &--catalog {
      flex-flow: row nowrap;
      padding: 0;

      .card__picture {
        width: 285px;
        height: 285px;
        flex-shrink: 0;
      }

      .card__content {
        flex-grow: 1;
        margin-top: 0;
        padding: 45px 45px 42px 35px;
      }

      .card__title {
        width: 100%;
        margin-left: 0;
        margin-right: 50%;
      }

      .card__subtitle {
        display: none;

        &--countries-flags {
          display: none;
        }
      }

      .card__tags {
        width: 100%;
        margin-right: 50%;
        margin-left: 0;
        order: 2;
      }

      .card__countries-flags {
        position: absolute;
        top: 25px;
        right: 50px;
        width: 235px;
      }

      .card__likes-counter {
        width: auto;
        margin: 0;
        margin-top: 10px;
        padding-left: 0;
        order: 5;
      }

      .card__user-level {
        margin-left: 50px;
      }

      .card__wrapper {
        position: static;
        margin-left: auto;

        flex-direction: row-reverse;
      }

      .card__button {
        margin-left: 0;
        order: 4;
      }

      /* Переопределение стилей дочерних блоков через модификатор родительского блока. Скорее плохо, чем хорошо */
      .countries-flags {
        flex-direction: column;
      }

      .transports {
        flex-direction: row;
        margin: 0;
      }
    }
  }
}
