.catalog {
  /* padding-top: 30px; */
  padding-bottom: 26px;
  text-align: center;
}

.catalog__cards-list {
  margin-bottom: 20px;
  text-align: left;
}

.catalog__button {
  text-align: center;
  font-size: $base-font-size * 1.0625;
}

@media (min-width: $tablet-width) {
  .catalog__cards-list {
    .cards-list__item {
      margin-bottom: 40px;
    }
  }
}
