.catalog {
  padding-bottom: 25px;
  text-align: center;
}

.catalog__list {
  @include reset-list;

  margin-bottom: 22px;
  text-align: left;
}

.catalog__list-item {
  margin-bottom: 10px;
}

.catalog__button {
  text-align: center;
  font-size: $base-font-size * 1.0625;

  .button__icon {
    width: 18px;
    height: 18px;
    margin-right: 20px;
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-bottom: 47px;
  }

  .catalog__list {
    margin-bottom: 49px;
  }

  .catalog__list-item {
    margin-bottom: 40px;
  }

  .catalog__button {
    font-size: $base-font-size * 1.25;

    .button__icon {
      width: 27px;
      height: 27px;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding-bottom: 67px;
  }

  .catalog__list {
    margin-bottom: 69px;
  }

  .catalog__list-item {
    margin-bottom: 30px;
  }

  .catalog__button {
    margin-left: -75px;
  }
}
