.companions-form {
  .transports__list {
    justify-content: flex-start;
  }
}

.companions-form__fieldset {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  border: none;

  &--open {
    .companions-form__legend {
      &::after {
        border-width: 0 4px 4px 4px;
        border-color: transparent transparent currentColor transparent;
      }
    }
  }
}

.companions-form__legend {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding-top: 15px;
  text-transform: uppercase;
  color: $main-color-darker-30;
  font-weight: 600;
  border-top: 1px solid rgba(0, 0, 0, 0.05);

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 0;
    height: 0;
    transform: translateY(-50%);
    border-width: 4px 4px 0 4px;
    border-color: currentColor transparent transparent transparent;
    border-style: solid;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
  .companions-form {
    font-size: $base-font-size * 1.25;

    .transports {
      justify-content: flex-start;
    }

    .range {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin-bottom: 0;
    }

    .range-counter {
      width: 150px;
      margin-left: auto;
      margin-bottom: 0;
    }

    .range-slider {
      width: 277px;
      order: -1;
    }
  }

  .companions-filter__secondary-title {
    max-width: 100%;
    font-size: $base-font-size * 1.875;
  }

  .companions-form__fieldset {
    display: flex;
    align-items: center;

    &:first-of-type {
      padding-top: 30px;
      border-top: 1px solid rgba(0, 0, 0, 0.05);
    }

    &:last-of-type {
      padding-bottom: 30px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
  }

  .companions-form__legend {
    width: auto;
    min-width: 120px;
    border: 0;

    &::after {
      display: none;
    }
  }

  .companions-form__form-list {
    flex-grow: 1;
  }

  .companions-form__button {
    width: 100%;
    margin-top: 30px;
    background-color: $white;
  }
}

@media (min-width: $desktop-width) {
  .companions-form {
    font-size: $base-font-size * 1.25;
  }

  .companions-filter__secondary-title {
    max-width: 100%;
    font-size: $base-font-size * 1.875;
  }

  .companions-form__button {
    width: 100%;
    margin-top: 30px;
    background-color: $white;
  }
}
