.contacts-form {
  position: relative;
  display: flex;
}

.contacts-form__input {
  flex-grow: 1;
  padding: 20px 75px 20px 25px;
  border-radius: $base-border-radius;
  border: 4px solid transparent;
  font-size: $base-font-size * 1.125;
  font-weight: 600;
  color: rgba($main-color-text, 0.3);
  outline: none;

  &:hover {
    background-color: #edeff6;
  }

  &:focus {
    border-color: $white;
    background-color: #192144;
    color: $white;
  }

  &--error {
    color: #ff0000;
  }
}

@media (min-width: $tablet-width) {
  .contacts-form__input {
    padding: 29px 100px 25px 36px;
    border-radius: 20px;
    font-size: $base-font-size * 1.5;
  }
}
