.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;

  &--inner {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: $tablet-width) {
  .container {
    padding-left: 40px;
    padding-right: 40px;

    &--inner {
      padding-left: 35px;
      padding-right: 35px;
    }
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: $desktop-width;
    padding-left: 60px;
    padding-right: 60px;

    &--inner {
      padding-left: 70px;
      padding-right: 0;
    }
  }
}
