.contacts-form {
  position: relative;
  display: flex;
}

.contacts-form__input {
  flex-grow: 1;
  width: 100%;
  padding: 16px 75px 16px 25px;
  border-radius: 10px;
  border: 4px solid transparent;
  font-size: $base-font-size * 1.125;
  font-weight: 600;
  color: rgba($main-color-text, 0.3);
  outline: none;

  &:hover {
    background-color: $main-color-light;
  }

  &:focus {
    border-color: $white;
    background-color: $main-color-dark;
    color: $white;
  }

  &--error {
    color: $red;
  }
}

@media (min-width: $tablet-width) {
  .contacts-form__input {
    padding: 23px 100px 23px 31px;
    border-radius: 20px;
    font-size: $base-font-size * 1.5;
  }
}
