.contacts {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;

  @include bg-dark;
  @include brs-bottom (30px, $main-color-accent, $main-color-darker-30);
}

.contacts__secondary-title {
  margin-bottom: 20px;
}

.contacts__text {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 0 20px 0;
}

.contacts__link {
  text-transform: lowercase;
  text-decoration: underline;
  font-weight: 300;
  color: $main-color-accent;
}

.contacts__contacts-form {
  margin-bottom: 20px;
}

.contacts__button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 60px;
  border-radius: 10px;

  .button__text {
    display: none;
  }
}

.contacts__user-nav {
  text-align: left;

  .link {
    color: $main-color-accent;
  }

  .link__icon {
    background-color: #121836;
  }

  .user-nav__item {
    flex-grow: 1;
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 65px;
    padding-bottom: 60px;

    &.container {
      padding-left: 70px;
      padding-right: 70px;
    }

    .link {
      font-size: $base-font-size * 1.75;
    }
  }

  .contacts__link {
    font-size: inherit;
  }

  .contacts__secondary-title {
    margin-bottom: 50px;
  }

  .contacts__text {
    padding: 0;
    margin-bottom: 30px;

    font-size: $base-font-size * 1.75;
  }

  .contacts__button {
    width: 82px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-top: 65px;
    padding-bottom: 60px;

    &.container {
      padding-left: 130px;
      padding-right: 130px;
    }
  }

  .contacts__text {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }

  .contacts__contacts-form {
    margin-bottom: 55px;
  }

  .contacts__button {
    width: auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    .button__text {
      display: block;
      margin-right: 110px;
    }
  }

  .contacts__user-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
