.countries-flags {
  @include reset-list;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.countries-flags__item {
  /* width: 35px;
  height: 24px; */
  /* overflow: hidden; */
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.countries-flags__img {
  width: 35px;
  height: 24px;
  border-radius: $small-base-border-radius;
}

.countries-flags__text {
  text-transform: uppercase;
  font-weight: 500;
}

@media (max-width: $only-mobile-width) {
  .countries-flags__img {
    &--small {
      width: 26px;
      height: 18px;
    }
  }
}

@media (min-width: $tablet-width) {
  .countries-flags__img {
    &--medium {
      width: 70px;
      height: 47px;
    }
  }
}
