/* .countries-flags-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.countries-flags-list__item {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}
 */
