.countries-flags {
  @include reset-list;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.countries-flags__item {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.countries-flags__img {
  position: relative;
  width: 35px;
  height: 24px;
  border-radius: 4px;

  img {
    width: auto;
    height: auto;
    border-radius: inherit;
  }
}

.countries-flags__text {
  text-transform: uppercase;
  font-weight: 500;
}

@media (max-width: $only-mobile-width) {
  .countries-flags__img {
    &--small {
      width: 26px;
      height: 18px;
    }
  }
}

@media (min-width: $tablet-width) {
  .countries-flags__img {
    &--medium {
      width: 70px;
      height: 47px;
    }
  }
}
