.countries-filter {
  padding-top: 17px;
  padding-bottom: 30px;
  background-color: $main-color-darker-10;

  @include brs-bottom (30px, $main-color, $main-color-darker-10);
}

.countries-filter__inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.countries-filter__secondary-title {
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $main-color-darker-30;
  text-transform: uppercase;

  &--icon {
    padding-left: 28px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 15px;
      height: 10px;
      background-repeat: no-repeat;
      background-position: center top;
      background-image: url("../img/filter.svg");
    }
  }
}

.countries-filter__link {
  width: 12px;
  height: 12px;
  margin-right: 4px;
  margin-top: 3px;
  font-size: inherit;

  &--dotted {
    display: none;
  }

  .link__text {
    display: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.countries-filter__continents-list {
  width: 100%;
  padding-left: 25px;
  margin-top: 30px;
  margin-bottom: 17px;
}

.countries-filter__letters-list {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 50px;
}

.countries-filter__countries-list {
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 36px;
}

.countries-filter__button {
  width: 100%;
  background-color: #d6daed;

  .button__text {
    margin-left: 12px;
  }

  &:hover {
    background-color: #c8cee8;
  }

  &:active {
    .button__text,
    .button__icon {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .countries-filter {
    padding-top: 58px;
    padding-bottom: 73px;
    font-size: $base-font-size * 1.25;
  }

  .countries-filter__inner {
    &.container {
      padding-left: 75px;
      padding-right: 75px;
    }
  }

  .countries-filter__secondary-title {
    display: none;
    font-size: $base-font-size * 1.25;
  }

  .countries-filter__link {
    width: 30%;
    height: auto;
    padding-left: 10px;
    margin-top: 0;
    margin-right: 0;

    &.link {
      &--icon {
        &--cross {
          &::before,
          &::after {
            top: calc(50% - 3px);
            width: 26px;
            height: 2px;
          }
        }
      }
    }

    .link__text {
      display: inline;
      margin-left: 0;
    }
  }

  .countries-filter__continents-list {
    display: flex;
    flex-flow: row wrap;

    width: 65%;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 49px;

    font-weight: 600;
    order: -1;

    .continents-list__item {
      margin-right: 27px;
    }
  }

  .countries-filter__letters-list {
    padding: 0;
    margin-bottom: 45px;
  }

  .countries-filter__countries-list {
    width: 30%;
    padding-left: 10px;
    padding-right: 0;
  }

  .countries-filter__button {
    padding-top: 42px;
    padding-bottom: 39px;
    font-size: $base-font-size * 1.25;
  }
}

@media (min-width: $desktop-width) {
  .countries-filter {
    padding-bottom: 149px;
  }

  .countries-filter__inner {
    &.container {
      padding-left: 80px;
      padding-right: 125px;
    }
  }

  .countries-filter__secondary-title {
    display: block;
    margin-right: 40px;
    order: -2;

    &--icon {
      padding-left: 43px;

      &::before {
        top: calc(50% - 3px);
        width: 24px;
        height: 17px;
      }
    }
  }

  .countries-filter__continents-list {
    width: auto;
    margin-bottom: 60px;
    order: -1;
  }

  .countries-filter__link {
    width: auto;
    margin-left: auto;

    .link__text {
      margin-right: 55px;
    }
  }

  .countries-filter__letters-list {
    width: 100%;
    padding: 0;
    padding-left: 17px;
    margin-bottom: 16px;
  }

  .countries-filter__countries-list {
    display: none;
  }

  .countries-filter__button {
    width: calc(100% + 103px);
    margin-left: -20px;
    margin-right: -63px;
  }
}
