.countries-filter {
  @include brs-bottom (30px, $main-color-light, $main-color-light-80);

  position: absolute;
  z-index: 5;

  width: 100%;
  padding-top: 17px;
  padding-bottom: 27px;
  margin-bottom: 23px;
  background-color: $main-color-light-80;

  &--no-js {
    position: relative;

    .countries-filter__button-outside,
    .countries-filter__button-inside {
      display: none;
    }
  }

  &--close {
    position: relative;
    padding-bottom: 15px;

    .countries-filter__continents-list,
    .countries-filter__letters-list,
    .countries-filter__countries-list,
    .countries-filter__button-inside {
      display: none;
    }

    .countries-filter__button-outside {
      .button__inner {
        &:first-child {
          display: inline-flex;
        }

        &:last-child {
          display: none;
        }
      }
    }
  }
}

.countries-filter__inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.countries-filter__secondary-title {
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $main-color-dark;
  text-transform: uppercase;

  &--icon {
    padding-left: 28px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 15px;
      height: 10px;
      background-repeat: no-repeat;
      background-position: center top;
      background-image: url("../img/filter.svg");
    }
  }

  span {
    display: none;
  }
}

.countries-filter__continents-list {
  width: 100%;
  padding-left: 25px;
  margin-top: 30px;
  margin-bottom: 17px;
}

.countries-filter__letters-list {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 50px;
}

.countries-filter__countries-list {
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 36px;
}

.countries-filter__button-outside {
  width: 17px;
  height: 17px;
  min-height: auto;
  padding: 0;
  margin-right: 5px;

  .button__inner {
    &:first-child {
      display: none;
    }

    &:last-child {
      display: inline-flex;
    }
  }

  .button__text {
    display: none;
  }

  .button__icon {
    margin: auto;
  }
}

.countries-filter__button-inside {
  width: 100%;

  .button__icon {
    width: 12px;
    height: 12px;
    margin-left: 0;
  }

  .button__text {
    margin-left: 12px;
  }
}

@media (min-width: $tablet-width) {
  .countries-filter {
    padding-top: 58px;
    padding-bottom: 74px;
    margin-bottom: 0;
    font-size: $base-font-size * 1.25;

    @include brs-bottom (60px, $main-color-light, $main-color-light-80);

    &--close {
      padding-bottom: 0;
      margin-bottom: 44px;

      .countries-filter__continents-list {
        display: flex;
      }
    }
  }

  .countries-filter__inner {
    &.container {
      padding-left: 75px;
      padding-right: 75px;
    }
  }

  .countries-filter__secondary-title {
    display: none;
    font-size: $base-font-size * 1.25;
  }

  .countries-filter__continents-list {
    display: flex;
    flex-flow: row wrap;

    width: 65%;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 49px;

    font-weight: 600;
    order: -1;

    .continents-list__item {
      margin-right: 27px;
    }
  }

  .countries-filter__letters-list {
    padding: 0;
    margin-bottom: 45px;
  }

  .countries-filter__countries-list {
    width: 30%;
    padding-left: 10px;
    padding-right: 0;
  }

  .countries-filter__button-outside {
    width: 28%;
    height: auto;
    margin-top: 0;
    margin-right: 0;
    font-size: $base-font-size * 1.25;
    line-height: $base-line-height;

    .button__inner {
      justify-content: space-between;
    }

    .button__text {
      display: block;
    }

    .button__icon {
      width: 27px;
      height: 15px;
      margin: 0;
    }
  }

  .countries-filter__button-inside {
    padding-top: 42px;
    padding-bottom: 39px;

    font-size: $base-font-size * 1.25;

    .button__icon {
      width: 18px;
      height: 18px;
    }
  }
}

@media (min-width: $desktop-width) {
  .countries-filter {
    position: relative;
    padding-bottom: 150px;

    background-color: $main-color-light;

    &::before,
    &::after {
      display: none;
    }

    &--close {
      position: relative;
      padding-top: 108px;
      padding-bottom: 0;
      margin-top: -50px;

      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;

      background-color: $main-color-light-80;

      overflow: hidden;
    }
  }

  .countries-filter__inner {
    &.container {
      padding-left: 80px;
      padding-right: 80px;
    }
  }

  .countries-filter__secondary-title {
    display: block;
    margin-right: 40px;
    order: -2;

    &--icon {
      padding-left: 43px;

      &::before {
        top: calc(50% - 3px);
        width: 24px;
        height: 17px;
      }
    }

    span {
      display: inline;
    }
  }

  .countries-filter__continents-list {
    width: auto;
    margin-bottom: 60px;
    margin-right: auto;
    order: -1;
  }

  .countries-filter__letters-list {
    width: 100%;
    padding: 0;
    padding-left: 17px;
    margin-bottom: 16px;
  }

  .countries-filter__countries-list {
    display: none;
  }

  .countries-filter__button {
    width: calc(100% + 103px);
    margin-left: -20px;
    margin-right: -63px;
  }

  .countries-filter__button-outside {
    width: 14%;
    margin-right: 40px;
  }

  .countries-filter__button-inside {
    width: calc(100% + 40px);
    margin-right: -20px;
    margin-left: -20px;
  }
}
