.custom-select {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  padding-bottom: 22px;

  // Small arrow
  &::before {
    content: "";
    position: absolute;
    bottom: 6px;
    right: 50px;
    width: 5px;
    height: 10px;
    background: url("../img/small-arrow.svg") no-repeat center;
    opacity: 0.3;
    z-index: 3;
  }

  // Small circle
  &::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 49px;
    width: 8px;
    height: 8px;
    border: 1px solid #cbced9;
    border-radius: 50%;
    background-color: $white;
    z-index: 3;
  }

  &:last-child {
    &::before {
      display: none;
    }
  }

  &--selected {
    // Small circle
    &::after {
      background-color: $black;
      border-color: $black;
    }

    .custom-select__item {
      &--text {
        width: calc(100% - 53px);

        // Hidding
        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 49px;
          background: linear-gradient(to right, transparent, $white 23%);
          z-index: 1;
        }
      }

      &--img {
        position: relative;
        display: flex;
      }
    }
  }

  &--add {
    // Small circle
    &::after {
      background-color: $main-color;
    }

    .custom-select__item {
      &--text {
        border: 0;
        background-color: $main-color;

        // Plus
        &::before {
          width: 14px;
          height: 14px;
          background: url("../img/qty-plus.svg") no-repeat center;
        }

        // Dropdown arrow
        &::after {
          display: none;
        }
      }

      &:hover {
        background-color: #dfe3f0;
      }

      &:active {
        .custom-select__text {
          opacity: 0.3;
        }
      }
    }
  }

  &--opened {
    z-index: 10;

    .custom-select__item {
      color: $white;
      background-color: #1d2e5b;
      border-color: #1d2e5b;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      &--text {
        // Dropdown cross
        &::before {
          width: 15px;
          height: 15px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 9' fill='%23fff'%3E%3Cpath d='M5.2 4.5L8.9.8c.1-.2.1-.5 0-.7s-.5-.1-.7 0L4.5 3.8.8.1C.6 0 .3 0 .1.1S0 .6.1.8l3.7 3.7L.1 8.2c-.1.2-.1.5 0 .7.1.1.3.1.4.1s.2 0 .3-.1l3.7-3.7 3.7 3.7c.1.1.2.1.3.1s.2 0 .3-.1c.2-.2.2-.5.1-.7L5.2 4.5z'/%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          opacity: 0.3;
        }

        &:hover {
          // Dropdown cross
          &::before {
            opacity: 1;
          }
        }

        &:active {
          // Dropdown cross
          &::before {
            opacity: 0.1;
          }
        }
      }
    }

    .custom-select__button {
      display: none;
    }

    &:hover {
      .custom-select__item {
        border-color: #1d2e5b;
      }

      .custom-select__dropdown {
        display: block;
      }
    }

    @media (max-width: $only-mobile-width) {
      // Small circle
      &::after {
        display: none;
      }
    }
  }
}

.custom-select__item {
  border: 1px solid #cbced9;
  border-radius: 4px;
  outline: none;

  &:hover,
  &:focus {
    border-color: #959bb2;
  }

  &--text {
    position: relative;
    padding: 10px 20px 8px 10px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;

    // Dropdown arrow
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 13px;
      transform: translateY(-50%);
      width: 12px;
      height: 7px;
      background: url("../img/dropdown-form.svg") no-repeat center;
      opacity: 0.3;
      z-index: 2;
    }

    &:hover,
    &:focus {
      // Dropdown arrow
      &::before {
        opacity: 0.5;
      }
    }
  }

  &--img {
    display: none;
    justify-content: center;
    align-items: center;
    width: 54px;
    margin-left: -1px;
  }
}

.custom-select__text {
  font-size: $base-font-size * 0.875;
  letter-spacing: 1.4px;
  font-weight: 500;
  text-transform: uppercase;
}

.custom-select__img {
  width: 35px;
  height: 24px;
  border-radius: 4px;
}

.custom-select__button {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 21px;
  height: 21px;
  border: none;
  border-radius: 50%;
  z-index: 2;

  // Cross close
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9px;
    height: 9px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 9'%3E%3Cpath d='M5.2 4.5L8.9.8c.1-.2.1-.5 0-.7s-.5-.1-.7 0L4.5 3.8.8.1C.6 0 .3 0 .1.1S0 .6.1.8l3.7 3.7L.1 8.2c-.1.2-.1.5 0 .7.1.1.3.1.4.1s.2 0 .3-.1l3.7-3.7 3.7 3.7c.1.1.2.1.3.1s.2 0 .3-.1c.2-.2.2-.5.1-.7L5.2 4.5z'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    opacity: 0.1;
  }

  &:hover {
    // Cross close
    &::before {
      opacity: 0.3;
    }
  }

  &:active {
    // Cross close
    &::before {
      opacity: 0.05;
    }
  }
}

.custom-select__dropdown {
  position: absolute;
  top: 40px;
  width: 100%;
  padding-top: 0;
  background-color: $white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 20px 50px rgba(29, 46, 93, 0.1);
  overflow: hidden;
  z-index: -1;
}

.custom-select__countries-list {
  padding: 57px 20px 20px;
  border: 1px solid #cbced9;
  border-top: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (min-width: $tablet-width) {
  .custom-select {
    padding-bottom: 15px;
    align-items: center;

    // Small arrow
    &::before {
      display: none;
    }

    // Small circle
    &::after {
      top: 26px;
      right: 128px;
      width: 15px;
      height: 15px;
    }

    &--selected {
      .custom-select__item {
        &--text {
          width: calc(100% - 162px);

          // Hidding
          &::after {
            display: none;
          }
        }
      }
    }

    &--opened {
      &:hover {
        .custom-select__dropdown {
          display: flex;
        }
      }
    }
  }

  .custom-select__item {
    &--text {
      width: calc(100% - 162px);
      padding: 23px 55px 18px 24px;

      &::before {
        right: 25px;
        width: 20px;
        height: 10px;
      }
    }

    &--img {
      width: 70px;
      height: 47px;
      margin-left: auto;
      margin-right: 18px;
      border: 0;
    }
  }

  .custom-select__text {
    font-size: $base-font-size * 1.25;
    letter-spacing: 0.09em;
  }

  .custom-select__img {
    width: inherit;
    height: inherit;
    object-fit: cover;
  }

  .custom-select__button {
    position: relative;
    top: initial;
    right: initial;
    background-color: transparent;

    // Cross close
    &::before {
      width: 18px;
      height: 18px;
    }
  }

  .custom-select__dropdown {
    position: absolute;
    top: 68px;
    left: 0;
    flex-flow: row nowrap;
    width: calc(100% + 45px);
    padding: 38px 24px 34px;

    // Vertical line
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 207px;
      width: 1px;
      height: 100%;
      background-color: #dee5fc;
    }
  }

  .custom-select__letters-list {
    width: 263px;
  }

  .custom-select__countries-list {
    width: 178px;
    margin-left: auto;
    padding-top: 0;
    border: 0;
  }
}

@media (min-width: $desktop-width) {
  .custom-select {

    // Small circle
    &::after {
      right: 215px;
    }

    &--selected {
      .custom-select__item {
        &--text {
          width: calc(100% - 265px);
        }

        &--img {
          margin-right: 91px;
        }
      }
    }
  }

  .custom-select__item {
    &--text {
      width: calc(100% - 265px);
    }
  }

  .custom-select__dropdown {
    width: calc(100% - 265px);
    padding: 33px 27px 36px;

    // Vertical line
    &::before {
      display: block;
      right: 241px;
    }
  }

  .custom-select__letters-list {
    width: auto;
  }

  .custom-select__countries-list {
    width: 210px;
  }
}
