.direction {
  padding-top: 72px;
  padding-bottom: 30px;

  @include bg-light;
  @include brs-bottom (30px, $main-color-darker-30, $main-color);
}

.direction__inner {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 58px;
}

.direction__secondary-title {
  margin-bottom: 20px;
}

.direction__cards-list {
  margin-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .direction {
    padding-bottom: 80px;

    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-position: right 40px top 79px;
    background-size: 289px auto;

    @include brs-bottom (60px, $main-color-darker-30, $main-color);

    &.container {
      padding-left: 70px;
      padding-right: 70px;
    }
  }

  .direction__inner {
    padding-left: 4px;
    padding-right: 280px;
    margin-bottom: 103px;
  }

  .direction__secondary-title {
    margin-bottom: 55px;
  }

  .direction__text {
    font-size: $base-font-size * 1.75;
    line-height: 1.24;
  }

  .direction__cards-list {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 47px;
  }

  .direction__button {
    width: calc(100% - 10px);
    margin-left: 5px;
  }
}

@media (min-width: $desktop-width) {
  .direction {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    padding-top: 162px;
    padding-bottom: 101px;

    background-position: right 60px top 89px;

    &.container {
      padding-right: 130px;
      padding-left: 130px;
    }
  }

  .direction__inner {
    width: 450px;
    padding: 0;
    padding-top: 5px;
    padding-right: 100px;
    margin-bottom: 90px;
  }

  .direction__cards-list {
    width: 565px;
    order: -1;
  }

  .direction__button {
    width: initial;
    margin-left: 733px;
    margin-top: -119px;
  }
}
