.form-label {
  cursor: pointer;

  &--checkbox {
    position: relative;
    padding: 5px;
    padding-left: 30px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      background-color: $white;
      border-radius: 4px;
    }

    &::after {
      display: none;
      content: "";
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      width: 9px;
      height: 9px;
      background-image: url("../img/tick.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--transport {
    &:hover {
      box-shadow: 0 2px 5px 0 rgba($black, 0.08);

      .transport__svg {
        opacity: 0.7;
      }
    }

    &:active {
      background-color: $main-color;

      .transport__svg {
        opacity: 0.3;
      }
    }
  }
}

input[type="checkbox"]:checked + .form-label--checkbox::after {
  display: block;
}

input[type="checkbox"]:focus + .form-label {
  /* outline: 1px dotted;
  outline: -webkit-focus-ring-color auto 1px; */
  outline: 1px solid rgb(77, 144, 254);
}
