.hamburger {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    .hamburger__icon {
      opacity: 0.7;
    }
  }

  &:active {
    .hamburger__icon {
      opacity: 0.3;
    }
  }

  &--scroll {
    .hamburger__icon {
      fill: $main-color-light-100;
    }
  }

  &--opened {
    .hamburger__icon {
      fill: $main-color-light-100;

      &--open {
        display: none;
      }

      &--close {
        display: block;
      }
    }
  }

  &--close {
    height: 19px;

    &::before,
    &::after {
      width: 24px;
      height: 2px;
      transform-origin: left;
      background-color: $main-color-light-110;
      border-radius: 0;
    }

    &::before {
      top: 0;
      transform: rotate(45deg);
    }

    &::after {
      bottom: 0;
      transform: rotate(-45deg);
    }
  }
}

.hamburger__icon {
  fill: $white;

  &--close {
    display: none;
    width: 19px;
    height: 19px;
  }
}
