.hamburger {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    .hamburger__icon {
      opacity: 0.7;
    }
  }

  &:active {
    .hamburger__icon {
      opacity: 0.3;
    }
  }

  &--scroll {
    .hamburger__icon {
      fill: #cccccc;
    }
  }

  &--opened {
    .hamburger__icon {
      fill: #cccccc;
      
      &--open {
        display: none;
      }

      &--close {
        display: block;
      }
    }
  }

  /* &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 25px;
    height: 3px;
    border-radius: 3px;
    background-color: $white;
    transition: transform 0.3s ease;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  } */

  &--close {
    height: 19px;

    &::before,
    &::after {
      width: 24px;
      height: 2px;
      transform-origin: left;
      background-color: $grey-light;
      border-radius: 0;
    }

    &::before {
      top: 0;
      transform: rotate(45deg);
    }

    &::after {
      bottom: 0;
      transform: rotate(-45deg);
    }
  }
}

.hamburger__icon {
  fill: $white;

  &--close {
    display: none;
    width: 19px;
    height: 19px;
  }
}


/* .hamburger {
  position: relative;
  width: 17px;
  height: 17px;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  &--dotted {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: $main-color-darker-30;
    }

    &::before {
      left: 0;
      box-shadow: 7px 0 0 0 $main-color-darker-30;
    }

    &::after {
      right: 0;
    }
  }

  &--close {
    &::before,
    &::after {
      width: 2px;
      height: 2px;
      border-radius: 0;
    }

    &::before {
      box-shadow: none;
      left: 50%;
      border-radius: 0;
      animation: hamburger--dotted--before 0.5s ease both;
    }

    &::after {
      right: 50%;
      border-radius: 0;
      animation: hamburger--dotted--after 0.5s ease forwards;
    }
  }
} */

/* .hamburger__text {

} */


/* @keyframes hamburger--dotted--before {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translate(-50%, -50%) rotate(45deg) scaleY(8.5);
  }
}

@keyframes hamburger--dotted--after {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translate(50%, -50%) rotate(-45deg) scaleY(8.5);
  }
}
 */
