.link {
  position: relative;

  font-size: inherit;
  line-height: $base-line-height;
  font-weight: 600;
  font-style: normal;
  color: $main-color-dark;
  text-decoration: none;
  text-transform: uppercase;

  /* &--icon--left {
    padding-left: 30px;

    &::before,
    &::after {
      left: 0;
    }
  }

  &--icon--right {
    padding-right: 30px;

    &::before,
    &::after {
      right: 0;
    }
  }

  &--icon--plus {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      width: 18px;
      height: 2px;
      background-color: currentColor;
    }

    &::before {
      transform: translateY(-50%) rotate(90deg);
    }
  }

  &--icon--dotted {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      width: 5px;
      height: 5px;
      border-radius: 50%;
      box-shadow:
        -10px 0 0 0 currentColor,
        -20px 0 0 0 currentColor;
      background-color: currentColor;
    }
  }

  &--icon--cross {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      width: 18px;
      height: 2px;
      background-color: currentColor;
    }

    &::before {
      transform: translateY(-50%) rotate(45deg);
    }

    &::after {
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  &[href^="mailto:"]:hover {
    .link__icon {
      background-color: #f26926;
    }
  }

  &[href^="tel:"]:hover {
    .link__icon {
      background-color: #ff8d30;
    }
  }

  &[href]:active {
    .link__svg {
      opacity: 0.3;
    }
  } */
}

.link__icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  height: 45px;
  border-radius: 50%;

  &--main-color {
    background-color: $main-color-dark;
  }

  &--color-secondary {
    background-color: $main-color-accent-10;
  }

  &--color-tertiary {
    background-color: $main-color-accent-50;
  }
}

.link__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link__text {
  margin-left: 15px;
}
