.main-form {
  background-color: $main-color-light;

  .secondary-title {
    color: $main-color-dark-20;
  }
}

.main-form__button {
  margin-top: 20px;
}

@media (min-width: $tablet-width) {
  .main-form {
    .secondary-title {
      font-size: $base-font-size * 2.25;
    }
  }
}
