.main-nav {
  padding: 115px 25px 32px;
  background-color: $white;
}

.main-nav__site-nav {
  margin-bottom: 50px;
}

.main-nav__user-nav {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;

  .user-nav__item:first-child {
    width: 100%;
    margin-bottom: 51px;
  }

  .button {
    width: 100%;
    padding: 17px 29px 13px;
    font-size: $base-font-size * 1.25;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    padding: 185px 95px 75px;
  }

  .main-nav__user-nav {
    font-size: $base-font-size * 1.75;

    .user-nav__item:first-child {
      display: none;
    }

    .link__icon {
      width: 68px;
      height: 68px;
    }
  }

  .main-nav__social {
    justify-content: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    position: relative;
    padding: 0;
    background-color: transparent;
  }

  .main-nav__site-nav {
    margin-bottom: 0;
  }

  .main-nav__user-nav {
    display: none;
  }

  .main-nav__social {
    display: none;
  }
}
