.main {
  &--inner {
    background-color: $main-color-light;
    padding-bottom: 45px;
  }

  &--form {
    .main__head {
      @include brs-bottom (20px, $main-color-light, $main-color-dark);
    }
  }
}

.main__head {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  height: 143px;
  padding-top: 80px;

  @include bg-dark;
  @include brs-bottom (20px, $main-color-light-80, $main-color-dark);

  .container {
    flex-grow: 1;
    width: 100%;
  }
}

.main__head-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.main__head-backward-page {
  display: none;
  margin-top: 20px;
  font-size: $base-font-size * 1.25;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.main__head-backward-page-icon {
  width: 32px;
  height: 16px;
  margin-left: 24px;
  fill: currentColor;
}

.main__companions-filter {
  margin-bottom: 27px;
}

.main__pagination {
  margin-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .main {
    &--form {
      .main__head {
        @include brs-bottom (60px, $main-color-light, $main-color-dark);
      }
    }
  }

  .main__head {
    height: 351px;

    @include brs-bottom (60px, $main-color-light-80, $main-color-dark);
  }

  .main__head-content {
    padding-left: 34px;
    padding-right: 34px;
  }

  .main__head-backward-page {
    display: inline;
  }

  .main__companions-filter {
    margin-bottom: 40px;
  }

  .main__pagination {
    margin-bottom: 77px;
  }
}

@media (min-width: $desktop-width) {
  .main__head {
    @include brs-bottom (60px, $main-color-light, $main-color-dark);
  }

  .main__head-content {
    padding-left: 65px;
    padding-right: 65px;
  }

  .main__inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .main__companions-filter {
    width: 285px;
  }

  .main__catalog {
    width: 950px;
    order: -1;
  }

  .main__pagination {
    width: 950px;
    margin-bottom: 90px;
  }
}
