.main-footer {
  border-top-left-radius: $large-border-radius;
  border-top-right-radius: $large-border-radius;
  background-color: $white;
}

.main-footer__inner {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.main-footer__main-logo {
  margin-bottom: 35px;
}

.main-footer__social {
  margin-bottom: 30px;
}

.main-footer__copyright {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid rgba($black, 0.05);
}

@media (min-width: $tablet-width) {
  .main-footer__inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 46px;
    padding-bottom: 46px;
  }

  .main-footer__main-logo {
    margin-bottom: 0;
  }

  .main-footer__social {
    margin-bottom: 0;
  }

  .main-footer__copyright {
    width: auto;
    padding-top: 0;
    border-top: 0;

    .copyright__icon {
      margin-left: 10px;
    }
  }
}
