.main-logo {
  display: block;
  width: 100px;
  line-height: 0;
}

@media (min-width: $tablet-width) {
  .main-logo {
    width: 164px;
  }
}

@media (min-width: $desktop-width) {
  .main-logo {
    width: 200px;
  }
}
