.main-header {
  position: absolute;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 35px;

  z-index: 10;

  &--inner-page {
    padding-top: 19px;

    .main-header__user-nav {
      display: none;
    }
  }

  &--scroll {
    position: fixed;
    background-color: $white;
    z-index: 50;
  }
}

.main-header__inner {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.main-header__main-logo {
  position: relative;
  z-index: 2;
}

.main-header__main-nav {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.main-header__user-nav {
  display: none;
}

.main-header__hamburger {
  position: relative;
  margin-left: auto;
  z-index: 2;
}

@media (max-width: $only-tablet-width) {
  .main-header {
    &--no-js {
      position: static;

      .main-header__main-nav {
        position: static;
        display: block;
        order: 1;
      }

      .main-header__user-nav {
        display: flex;
        margin-left: auto;
      }

      .main-header__hamburger {
        display: none;
      }
    }

    &--opened {
      position: fixed;
      background-color: $white;
      max-height: 100vh;
      overflow-y: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        width: 0;
        background: transparent;
      }

      .main-header__main-nav {
        position: static;
        display: block;
        order: 2;
      }

      .main-header__user-nav {
        display: flex;
      }
    }
  }
}

@media (max-width: $only-mobile-width) {
  .main-header {
    &--opened {
      .main-header__main-nav {
        order: 1;
      }
    }

    .main-header__user-nav {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-header {
    padding-top: 41px;
    padding-bottom: 40px;

    &--inner-page {
      .main-header__user-nav {
        display: flex;
      }
    }
  }

  .main-header__user-nav {
    display: flex;
    /* position: static;
    top: auto;
    left: auto;
    transform: none; */
    width: auto;
    order: 1;

    & > :not(:first-child) {
      display: none;
    }

    & > :first-child {
      position: relative;
      z-index: 2;
    }

    .user-nav__button {
      padding: 17px 29px 13px;
      font-size: $base-font-size * 1.25;
    }
  }

  .main-header__hamburger {
    margin-right: auto;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    padding-top: 52px;
    color: $white;

    &--scroll {
      color: $main-color-dark;

      .site-nav__link {
        color: $main-color-dark;
      }
    }
  }

  .main-header__inner {
    justify-content: flex-start;
  }

  .main-header__main-logo {
    margin-right: 40px;
  }

  .main-header__main-nav {
    display: block;
    width: auto;
  }

  .main-header__user-nav {
    margin-left: auto;

    & > :nth-child(n) {
      display: block;
    }

    .user-nav__icon {
      width: 50px;
      height: 50px;
    }

    .user-nav__svg {
      &--phone {
        width: 18px;
        height: 18px;
      }

      &--modern-mail {
        width: 18px;
        height: 14px;
      }
    }
  }

  .main-header__hamburger {
    display: none;
  }
}
