.main-footer {
  position: relative;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: $white;

  z-index: 1;
}

.main-footer__inner {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 10px;
}

.main-footer__main-logo {
  margin-bottom: 38px;
}

.main-footer__social {
  margin-bottom: 36px;
}

@media (min-width: $tablet-width) {
  .main-footer {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }

  .main-footer__inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 46px;
  }

  .main-footer__main-logo {
    margin-bottom: 0;
  }

  .main-footer__social {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__social {
    margin-bottom: 0;
    margin-right: 48px;
  }
}
