.main-footer {
  padding-top: 30px;
  padding-bottom: 10px;
}

.main-footer__main-logo {
  margin-bottom: 35px;
}

.main-footer__social {
  margin-bottom: 30px;
}

.main-footer__copyright {
  padding-top: 10px;
  border-top: 1px solid rgba($black, 0.05);
}
