.pagination {
  @include reset-list;
  position: relative;

  display: flex;
  flex-flow: row wrap;

  // Center vertical line
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    background-color: rgba($black, 0.05);
    z-index: 1;
  }
}

.pagination__item {
  display: none;

  &--arrow {
    display: block;
    position: relative;
    width: 50%;
    min-height: 50px;
    background-color: $white;

    // Arrow
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-style: solid;
      border-width: 7px 0 7px 10px;
      border-color: transparent transparent transparent currentColor;
    }

    &:nth-last-child(2) {
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;

      // Arrow
      &::before {
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }

    &:last-child {
      border-top-right-radius: $large-border-radius;
      border-bottom-right-radius: $large-border-radius;
    }
  }
}

.pagination__link {
  display: block;
  width: 100%;
  height: 100%;
}

@media (min-width: $tablet-width) {
  .pagination {
    padding: 25px 28px;
    align-items: center;
    background-color: $white;
    border-radius: $medium-border-radius;

    &::before {
      display: none;
    }
  }

  .pagination__item {
    display: block;

    &--arrow {
      width: auto;
      background-color: transparent;

      &:last-child {
        margin-left: 18px;
      }

      &:nth-last-child(2) {
        margin-left: auto;
      }

      // Arrow
      &::before {
        border-width: 10px 0 10px 10px;
      }

      .pagination__link {
        width: 25px;
      }
    }

    &--active {
      .pagination__link {
        border-radius: 50%;
        background-color: $main-color-accent;
      }
    }
  }

  .pagination__link {
    display: block;
    width: 50px;
    height: 50px;
    font-size: $base-font-size * 1.25;
    line-height: 50px;
    font-weight: 600;
    color: $main-color-darker-30;
    text-decoration: none;
    text-align: center;
    //vertical-align: middle;
  }
}

@media (min-width: $desktop-width) {
  .pagination {
    padding-right: 37px;
  }
}
