.pagination {
  @include reset-list;
  position: relative;

  display: flex;
  flex-flow: row wrap;

  // Center vertical line
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    background-color: rgba($black, 0.05);
    z-index: 1;
  }
}

.pagination__item {
  display: none;

  &--arrow {
    display: block;
    position: relative;
    width: 50%;
    min-height: 50px;
    background-color: $white;

    .pagination__link {
      // Arrow
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-style: solid;
        border-width: 7px 0 7px 10px;
        border-color: transparent transparent transparent currentColor;
      }

      &:hover {
        // Arrow
        &::before {
          opacity: 0.7;
        }
      }

      &:active {
        // Arrow
        &::before {
          opacity: 0.3;
        }
      }
    }

    &-right {
      border-top-right-radius: $large-border-radius;
      border-bottom-right-radius: $large-border-radius;
    }

    &-left {
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;

      .pagination__link {
        // Arrow
        &::before {
          transform: translate(-50%, -50%) rotate(180deg);
        }
      }
    }
  }
}

.pagination__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  &:hover[href] {
    opacity: 0.6;
  }

  &:active[href] {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .pagination {
    padding: 25px 28px;
    align-items: center;
    background-color: $white;
    border-radius: $medium-border-radius;

    // Center vertical line
    &::before {
      display: none;
    }
  }

  .pagination__item {
    display: block;

    &--arrow {
      width: auto;
      background-color: transparent;

      &-right {
        margin-left: 18px;
      }

      &-left {
        margin-left: auto;
      }

      .pagination__link {
        width: 25px;

        // Arrow
        &::before {
          border-width: 10px 0 10px 10px;
        }
      }
    }

    &--active {
      .pagination__link {
        border-radius: 50%;
        background-color: $main-color-accent;
      }
    }
  }

  .pagination__link {
    display: block;
    width: 50px;
    height: 50px;
    font-size: $base-font-size * 1.25;
    line-height: 50px;
    font-weight: 600;
    color: $main-color-darker-30;
    text-decoration: none;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .pagination {
    padding-right: 37px;
  }
}
