.primary-title {
  margin: 0;

  font-family: $base-font-family;
  font-size: $base-font-size * 2.25;
  line-height: 1;
  font-weight: 600;
  font-style: normal;
  color: $white;

  &--underline {
    position: relative;
    padding-bottom: 11px;

    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;

      height: 5px;
      border-radius: 2.4px;
      background-color: $main-color-accent-darker-30;
    }
  }
}

@media (min-width: $tablet-width) {
  .primary-title {
    font-size: $base-font-size * 3.75;

    &--underline {
      padding-bottom: 68px;

      &::after {
        bottom: -4px;
        height: 8px;
        border-radius: 4px;
      }
    }
  }
}
