.range-counter {
  position: relative;
  display: flex;

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 100%;
    background-color: #cbced9;
    z-index: 1;
  }

  &::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 1px;
    background-color: #cbced9;
    box-shadow: 0 0 0 5px #ffffff;
    z-index: 2;
  }
}

.range-counter__field {
  flex-grow: 1;
  border: 1px solid #cbced9;

  &:first-child {
    border-right: 0;

    .form-input{
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }

  &:last-child {
    border-left: 0;

    .form-input{
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  .form-input {
    width: 100%;
    padding: 10px 15px;
    text-align: center;

    font-size: $base-font-size * 0.9375;
    font-weight: 500;

    border: none;
  }
}
