.route {
  position: relative;
  padding-top: 32px;
  padding-bottom: 35px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  z-index: 2;

  @include bg-accent;
}

.route__location {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 31px 0;

  text-transform: uppercase;
  font-weight: 600;
  color: $main-color-dark;
}

.route__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  background-color: $main-color-dark-40;
  border-radius: 50%;
}

.route__svg {
  fill: $main-color-accent;

  &--location {
    width: 14px;
    height: 22px;
  }
}

.route__text {
  max-width: 75%;
  margin-left: 20px;
}

.route__button {
  justify-content: space-between;
  width: 100%;
  padding: 20px 20px;
  border: 3px solid $main-color-dark;
  border-radius: 10px;

  .button-icon {
    margin-left: 0;
  }

  .button__text {
    margin-right: 20px;
  }

  &:hover {
    background-color: $main-color-dark;
    color: $white;

    .button__icon {
      fill: $white;
    }
  }

  &:active {
    .button__text,
    .button__icon {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .route {
    padding-top: 47px;
    padding-bottom: 84px;

    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;

    .container {
      padding-left: 75px;
      padding-right: 75px;
    }
  }

  .route__location {
    margin-bottom: 42px;
    font-size: $base-font-size * 1.75;
  }

  .route__icon {
    width: 68px;
    height: 68px;
  }

  .route__svg {
    &--location {
      width: 21px;
      height: 32px;
    }
  }

  .route__text {
    max-width: 100%;
    margin-left: 25px;
  }

  .route__button {
    padding: 27px 33px 24px;
    border-radius: 20px;
  }
}

@media (min-width: $desktop-width) {
  .route {
    padding-top: 55px;
    padding-bottom: 57px;

    .container {
      padding-left: 130px;
      padding-right: 130px;
    }
  }

  .route__inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    padding-left: 154px;
  }

  .route__location {
    margin-bottom: 0;
  }

  .route__icon {
    width: 90px;
    height: 90px;
  }

  .route__svg {
    &--location {
      width: 28px;
      height: 43px;
    }
  }

  .route__text {
    margin-left: 31px;
  }

  .route__button {
    width: auto;
    padding-left: 36px;
    padding-right: 36px;
  }
}
