.site-nav {
  @include reset-list;
  text-align: center;
}

.site-nav__link {
  font-family: $base-font-family;
  font-size: $base-font-size * 1.875;
  line-height: $base-line-height / 1.1458;
  font-weight: 500;
  font-style: normal;
  color: $main-color-darker-30;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .site-nav {
    text-align: left;
  }

  .site-nav__link {
    font-size: $base-font-size * 3.75;
  }
}

@media (min-width: $desktop-width) {
  .site-nav {
    position: relative;
    display: flex;
  }

  .site-nav__item {
    margin-right: 34px;

    &:last-child {
      margin-right: 0;
    }
  }

  .site-nav__link {
    font-size: $base-font-size * 1.25;
    color: $white;
  }
}
