.social {
  @include reset-list;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

@media (min-width: $tablet-width) {
  .social {
    .link__icon {
      width: 60px;
      height: 60px;
    }
  }
}
