.social {
  @include reset-list;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;

  &--theme {
    &-accent {
      .social__link {
        &:hover {
          background-color: #ffbd30;
        }
      }
    }

    &-dark {
      .social__link {
        &:hover {
          background-color: #192144;
        }
      }
    }
  }
}

.social__link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 45px;
  border-radius: 50%;

  background-color: #ffd74b;


  &:active {
    .social__icon {
      opacity: 0.3;
    }
  }
}

.social__icon {
  fill: transparent;
  stroke: $white;
}

@media (min-width: $tablet-width) {
  .social__link {
    width: 60px;
    height: 60px;
  }
}
