.steps-list {
  @include reset-list;
  counter-reset: step;
}

.steps-list__item {
  position: relative;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  padding: 22px 22px 32px 24px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  font-size: $base-font-size * 1.125;
  line-height: 1;
  font-weight: 600;

  counter-increment: step;

  &:nth-child(4n+1) {
    background-color: $main-color-accent-50;
  }

  &:nth-child(4n+2) {
    background-color: $main-color-accent-60;
  }

  &:nth-child(4n+3) {
    background-color: $main-color-accent-10;
  }

  &:nth-child(4n+4) {
    background-color: $main-color-accent;
  }

  &:not(:first-child) {
    margin-top: -10px;
  }

  &:last-child {
    padding-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &::after {
    content: counter(step);
  }
}

.steps-list__text {
  max-width: 70%;
  display: inline-block;
  vertical-align: top;
  color: $main-color-dark;
}

@media (min-width: $tablet-width) {
  .steps-list {
    display: flex;
    flex-flow: row wrap;
  }

  .steps-list__item {
    flex-direction: column;
    width: 50%;
    padding: 33px 57px 23px 33px;

    border-top-left-radius: 21px;
    border-top-right-radius: 21px;

    font-size: $base-font-size * 1.5;

    &:nth-child(n) {
      margin-top: 0;
    }

    &:nth-child(even) {
      margin-left: -35px;
    }

    &:nth-child(2n-1) {
      width: calc(50% + 35px);
    }

    &:nth-child(n+3) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &:nth-last-child(2) {
      border-bottom-left-radius: 21px;
    }

    &:last-child {
      flex-grow: 1;
      border-bottom-left-radius: 21px;
      border-bottom-right-radius: 21px;
    }

    &::after {
      font-size: $base-font-size * 1.6875;
    }
  }

  .steps-list__text {
    max-width: 65%;
    margin-bottom: 9px;
  }
}

@media (min-width: $desktop-width) {
  .steps-list__item {
    flex-direction: row;
    justify-content: space-between;

    /* &:nth-child(n) {
      width: calc(26% + 45px);
      padding-right: 75px;
      padding-top: 30px;
      padding-bottom: 30px;
    } */

    &:nth-child(4n+1) {
      width: calc(23.8% + 45px);
    }

    &:nth-child(4n) {
      width: 23.8%;
      padding-right: 25px;
    }

    &:not(:nth-child(4n+1)) {
      margin-left: -45px;
    }

    &:nth-child(n) {
      width: calc(26% + 45px);
      padding-right: 75px;
      padding-top: 30px;
      padding-bottom: 30px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    &:nth-child(4) {
      border-top-right-radius: 20px;
    }

    &:nth-child(n+5) {
      border-top: 1px solid rgba($black, 0.15);
    }

    &:last-child {
      flex-grow: 0;
    }
  }

  .steps-list__text {
    max-width: 75%;
    margin-bottom: 0;
  }
}
