.steps-list {
  @include reset-list;
  counter-reset: step;
}

.steps-list__item {
  position: relative;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  padding: 22px 25px 32px;
  border-top-left-radius: $base-border-radius;
  border-top-right-radius: $base-border-radius;

  font-size: $base-font-size * 1.125;
  line-height: 1;
  font-weight: 600;

  counter-increment: step;

  &:nth-child(4n+1) {
    background-color: $main-color-accent-darker-30;
  }

  &:nth-child(4n+2) {
    background-color: $main-color-accent-darker-20;
  }

  &:nth-child(4n+3) {
    background-color: $main-color-accent-darker-10;
  }

  &:nth-child(4n+4) {
    background-color: $main-color-accent;
  }

  &:not(:first-child) {
    margin-top: -10px;
  }

  &:last-child {
    padding-bottom: 20px;
    border-bottom-left-radius: $base-border-radius;
    border-bottom-right-radius: $base-border-radius;
  }

  &::after {
    content: counter(step);
  }
}

.steps-list__text {
  max-width: 70%;
  display: inline-block;
  vertical-align: top;
  color: $main-color-darker-30;
}

@media (min-width: $tablet-width) {
  .steps-list {
    display: flex;
    flex-flow: row wrap;
  }

  .steps-list__item {
    flex-direction: column;
    width: 50%;
    padding-bottom: 22px;

    &:nth-child(n) {
      margin-top: 0;
    }

    &:nth-child(even) {
      margin-left: -15px;
    }

    &:nth-child(odd) {
      width: calc(50% + 15px);
    }

    &:nth-child(n+3) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &:nth-last-child(2) {
      border-bottom-left-radius: $base-border-radius;
    }

    &:last-child {
      flex-grow: 1;
    }
  }

  .steps-list__text {
    max-width: 50%;
    margin-bottom: 5px;
  }
}

@media (min-width: $desktop-width) {
  .steps-list__item {
    flex-direction: row;
    justify-content: space-between;
    width: 26%;

    &:not(:nth-child(4n+1)) {
      margin-left: -15px;
    }

    &:nth-child(even),
    &:nth-child(odd) {
      width: calc(26% + 15px);
      padding-right: 45px;
    }

    &:nth-child(n) {
      border-top-left-radius: $base-border-radius;
      border-bottom-left-radius: $base-border-radius;
    }

    &:nth-child(4n) {
      width: 22%;
      padding-right: 25px;
    }

    &:nth-child(4) {
      border-top-right-radius: $base-border-radius;
    }

    &:nth-child(n+5) {
      border-top: 1px solid rgba($black, 0.15);
    }

    &:last-child {
      flex-grow: 0;
    }
  }
}
