.tariffs-list {
  @include reset-list;
  counter-reset: step;
}

.tariffs-list__item {
  position: relative;

  counter-increment: step;

  &::after {
    content: counter(step);
    position: absolute;
    top: 3px;
    right: 1px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    line-height: 34px;
    vertical-align: middle;
    text-align: center;
    color: $white;
  }

  &:nth-child(3n+1) {
    &::after {
      background-color: $main-color-accent-60;
    }
  }

  &:nth-child(3n+2) {
    &::after {
      background-color: $main-color-accent-10;
    }
  }

  &:nth-child(3n+3) {
    &::after {
      background-color: $main-color-accent;
    }
  }

  &:last-child {
    .tariffs-list__item-content {
      border-bottom: 1px solid rgba($black, 0.05);
    }
  }
}

.tariffs-list__item-content {
  max-width: 75%;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgba($black, 0.05);
}

.tariffs-list__text,
.tariffs-list__price {
  display: block;
}

@media (min-width: $tablet-width) {
  .tariffs-list__item {
    position: relative;
    padding-left: 90px;
    margin-bottom: 8px;
    z-index: 2;

    &:last-child {
      margin-bottom: 0;
    }

    &::after {
      top: -2px;
      left: 0;
      width: 67px;
      height: 67px;
      line-height: 67px;
    }
  }

  .tariffs-list__item-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 100%;
  }
}
