.tariffs {
  padding-top: 33px;
  padding-bottom: 36px;
  box-shadow: 0 20px 50px 0 rgba(29, 46, 91, 0.1);

  @include bg-light;

  .container {
    padding-left: 50px;
  }

  &--users {
    @include brs-bottom (30px, $main-color-dark, $main-color-light);
  }

  &--business {
    width: calc(100% - 50px);
    margin: 0 auto;
    padding: 28px 0 0;
    border-radius: 10px;
    background-color: $main-color-light;
    overflow: hidden;

    .tariffs__list {
      padding-left: 25px;
      padding-right: 25px;
    }

    .tariffs__title {
      padding: 0;
      min-height: auto;
      text-align: center;
      background: none;
    }

    .tariffs-list__item::after {
      display: none;
    }

    .tariffs-list__item-content {
      max-width: 100%;
    }

    .tariffs__button {
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

.tariffs__title {
  margin-bottom: 25px;
  padding: 20px 0;
  background: url("../img/rates@1x.png") no-repeat right center / 99px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/rates@2x.png");
  }
}

.tariffs__title-link {
  display: block;
  max-width: 46%;
  text-decoration: none;
  color: inherit;
}

.tariffs__list {
  margin-bottom: 28px;
}

.tariffs__link {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;

  text-decoration: none;
  font-weight: 600;
  color: $main-color-dark;

  &:hover {
    .tariffs__link-svg,
    .tariffs__link-text {
      opacity: 0.7;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.tariffs__link-icon {
  display: none;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background-color: $main-color-light-80;
}

.tariffs__link-svg {
  width: 17px;
  height: 21px;
  fill: currentColor;
}

.tariffs__button {
  text-transform: uppercase;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: $main-color-light-120;

  &:hover {
    background-color: $main-color-light;

    .button__text {
      opacity: 1;
    }
  }

  &:active {
    .button__text {
      opacity: 0.3;
    }
  }
}

@media (max-width: $only-mobile-width) {
  .tariffs__title {
    min-height: 99px;
  }
}

@media (min-width: $tablet-width) {
  .tariffs {
    padding-top: 54px;
    padding-bottom: 63px;
    font-size: $base-font-size * 1.75;

    .container {
      padding-left: 40px;
      padding-right: 74px;
    }

    &--users {
      @include brs-bottom (60px, $main-color-dark, $main-color-light);
    }

    &--business {
      max-width: 688px;
      padding: 45px 0 0;
      font-size: $base-font-size * 1.375;

      .tariffs__list {
        padding-left: 90px;
        padding-right: 90px;

        &::before,
        &::after {
          display: none;
        }
      }

      .tariffs-list__item {
        padding-left: 0;
      }

      .tariffs__button {
        padding: 41px 41px 40px;
        text-transform: initial;
      }
    }
  }

  .tariffs__title {
    margin-bottom: 55px;
    background-image: none;
    text-align: center;
  }

  .tariffs__title-link {
    display: inline-block;
    vertical-align: top;
    max-width: initial;
    margin-left: 35px;
  }

  .tariffs__list {
    position: relative;
    margin-bottom: 38px;

    &::before {
      content: "";
      position: absolute;
      bottom: -122px;
      right: 10px;
      width: 99px;
      height: 99px;
      background: url("../img/rates@1x.png") no-repeat center/99px;
      z-index: 2;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/rates@2x.png");
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: -42px;
      right: -34px;
      width: 198px;
      height: calc(100% + 86px);
      border-radius: 20px;
      background-color: $main-color-light-80;
      z-index: 0;
    }
  }

  .tariffs__link {
    font-size: $base-font-size * 1.25;
    color: $main-color-dark-60;
  }

  .tariffs__link-icon {
    display: flex;
  }

  .tariffs__link-text {
    margin-left: 16px;
  }
}

@media (min-width: $desktop-width) {
  .tariffs {
    padding-top: 88px;
    padding-bottom: 167px;

    .container {
      padding-left: 130px;
      padding-right: 60px;
    }

    &--business {
      max-width: 750px;
      padding: 45px 0 0;

      .tariffs__list {
        padding-left: 59px;
        padding-right: 59px;

        &::before,
        &::after {
          display: none;
        }
      }

      .tariffs-list__item {
        padding-left: 0;
      }

      .tariffs__button {
        width: 100%;
        padding: 41px 41px 40px;
        text-transform: initial;
      }
    }
  }

  .tariffs__title {
    padding-right: 67px;
    margin-bottom: 111px;
  }

  .tariffs__title-link {
    margin-left: 0;
  }

  .tariffs__list {
    padding-right: 345px;

    &::before {
      bottom: -6px;
      right: 74px;
      width: 198px;
      height: 198px;
      background-size: contain;
    }

    &::after {
      top: -50px;
      right: 186px;
      width: 444px;
      height: calc(100% + 106px);
    }
  }
}
