.textarea-list {
  @include reset-list;
}

.textarea-list__item {
  position: relative;
  margin-bottom: 17px;
  vertical-align: top;

  &:not(:last-child) {

    // Vertical line
    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: -14px;
      width: 2px;
      height: calc(100% + 17px);
      background-color: $main-color-darker-30;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--error {
    &::after {
      content: "Это поле должно быть заполнено";
      position: absolute;
      bottom: 1px;
      left: 1px;
      width: calc(100% - 2px);
      padding: 10px 20px;
      background-color: #ffefef;
      color: #ff0000;
      font-weight: 400;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    .textarea-list__textarea {
      border-color: #f47e7e;
    }
  }
}

.textarea-list__title {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 11px;
  margin-bottom: 10px;

  color: $main-color-darker-30;
  font-size: $base-font-size * 1.25;
  letter-spacing: -0.05em;
  font-weight: 500;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
  }

  /* Circle marker*/
  &::before {
    top: calc(50% - 5px);
    left: -14px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $main-color-darker-30;
  }

  /* Short horizontal line */
  &::after {
    top: calc(50% - 3px);
    left: -25px;
    width: 15px;
    height: 2px;
    background-color: $main-color-darker-30;
  }
}

.textarea-list__title-item {
  position: relative;
  width: 76%;
  margin-right: auto;
  overflow: hidden;
  white-space: nowrap;

  // Fade out
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 49px;
    background: linear-gradient(to right, transparent, $white 100%);
    z-index: 1;
  }
}

.textarea-list__title-img {
  position: relative;
  width: 35px;
  height: 24px;
  margin-top: -4px;
  border-radius: 4px;

  img {
    width: 100%;
    height: 100%;
  }
}

.textarea-list__textarea {
  width: 100%;
  min-height: 220px;
  padding: 11px 14px 15px;
  border: 1px solid #cbced9;
  border-radius: 4px;
  resize: vertical;
  line-height: 1.4;
  vertical-align: top;
  outline: none;

  &:hover {
    border-color: #959bb2;
  }

  &:focus {
    border-color: #161c35;
  }
}

@media (min-width: $tablet-width) {
  .textarea-list__item {
    padding-right: 20px;
    margin-bottom: 39px;

    &:not(:last-child) {
      /* Vertical line */
      &::before {
        top: 23px;
        left: auto;
        right: 2px;
        width: 3px;
        height: calc(100% + 37px);
      }
    }

    &--error {
      &::after {
        width: calc(100% - 32px);
      }
    }
  }

  .textarea-list__title {
    margin-left: 0;
    margin-bottom: 28px;

    font-size: $base-font-size * 2;
    letter-spacing: -0.02em;

    /* Circle marker*/
    &::before {
      top: calc(50% - 9px);
      right: -24px;
      left: auto;
      width: 15px;
      height: 15px;
    }

    /* Short horizontal line */
    &::after {
      display: none;
    }
  }

  .textarea-list__title-img {
    width: 70px;
    height: 47px;
    margin-right: 11px;
    border-radius: 6px;
  }

  .textarea-list__textarea {
    width: calc(100% - 10px);
    min-height: 142px;
    padding: 15px 17px 15px;
    font-size: $base-font-size * 1.25;
  }
}

@media (min-width: $desktop-width) {
  .textarea-list {
    padding-right: 125px;
  }

  .textarea-list__item {
    padding-right: 20px;
    margin-bottom: 39px;

    &:not(:last-child) {
      /* Vertical line */
      &::before {
        right: -1px;
      }
    }

    &--error {
      &::after {
        width: calc(100% - 48px);
      }
    }
  }

  .textarea-list__title {
    /* Circle marker*/
    &::before {
      right: -26px;
    }
  }

  .textarea-list__title-img {
    position: relative;
    right: -140px;
  }

  .textarea-list__textarea {
    width: calc(100% - 25px);
    padding: 22px 22px 20px;
  }
}
