.user-plans {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: $main-color-darker-10;

  .secondary-title {
    margin-bottom: 20px;
  }
}

.user-plans__list {
  @include reset-list;
}

.user-plans__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.user-plans__link {
  color: rgba($black, 0.3);
}
