.user-profile {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 30px;
}

.user-profile__legend {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  color: $main-color-darker-30;
  background-color: $main-color;
  cursor: text;
}

.user-profile__user-level {
  margin-bottom: 19px;
  order: 1;
}

.user-profile__user-picture {
  margin-bottom: 19px;
  order: 2;
}

.user-profile__button {
  width: 100%;
  margin-bottom: 25px;
  order: 3;

  .button {
    width: inherit;
  }
}

.user-profile__tags {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid rgba($main-color-darker-30, 0.15);
  border-radius: $base-border-radius;
  order: 4;
}

.user-profile__transports {
  position: relative;
  width: 100%;
  padding: 25px 33px 24px 24px;
  border: 1px solid rgba($main-color-darker-30, 0.15);
  border-radius: $base-border-radius;
  order: 5;
}

@media (min-width: $tablet-width) {
  .user-profile {
    font-size: $base-font-size * 1.25;
  }

  .user-profile__legend {
    top: initial;
    bottom: -15px;
  }

  .user-profile__user-level {
    order: 1;
  }

  .user-profile__user-picture {
    border-radius: $base-border-radius;
    order: 3;
  }

  .user-profile__button {
    order: 4;

    .button {
      min-height: 60px;
      border-radius: 10px;
    }
  }

  .user-profile__tags {
    order: 5;
  }

  .user-profile__transports {
    width: 50%;
    order: 2;
  }
}

@media (min-width: $desktop-width) {
  .user-profile {
    padding-top: 70px;
    align-items: center;
  }

  .user-profile__user-level {
    position: absolute;
    top: -130px;
    right: 379px;

    .user-level__content,
    .user-level__number {
      color: $white;
      background-color: transparent;
    }
  }

  .user-profile__user-picture {
    position: absolute;
    top: -190px;
    right: 144px;
    width: 190px;
    height: 190px;
    border-radius: 0;
  }

  .user-profile__button {
    position: absolute;
    top: 0;
    right: 144px;
    width: 190px;

    .button {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }

    .button__text-item {
      display: none;
    }
  }

  .user-profile__tags {
    width: 730px;
    margin-bottom: 0;
    order: 4;

    .user-profile__legend {
      left: 60px;
    }
  }

  .user-profile__transports {
    width: 384px;
    align-self: stretch;
    order: 5;
  }
}
