.user-profile {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 23px;
  padding-bottom: 34px;
}

.user-profile__group {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 18px 0 27px;
  margin: 0;
  margin-bottom: 25px;
  border: 1px solid rgba($main-color-darker-30, 0.15);
  border-radius: $base-border-radius;

  &:last-child {
    margin-bottom: 0;
  }

  &--tags {
    line-height: 1.7;
    order: 4;
  }

  &--transports {
    padding-bottom: 15px;

    order: 5;

    .user-profile__legend {
      margin-bottom: 2px;
    }
  }
}

.user-profile__legend {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: -30px;
  margin-bottom: 10px;

  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  color: $main-color-darker-30;
  background-color: $main-color;
  cursor: text;
}

.user-profile__user-level {
  margin-bottom: 19px;
  margin-left: 19px;
  order: 1;
}

.user-profile__user-picture {
  margin-bottom: 19px;
  margin-right: 18px;
  order: 2;
}

.user-profile__button {
  width: 100%;
  margin-bottom: 33px;
  order: 3;

  .button {
    width: inherit;
  }
}

.user-profile__textarea {
  display: block;
  width: 100%;
  padding: 0 32px 0 24px;
  border: 0;
  background-color: transparent;
  text-align: left;
  resize: none;
}

@media (min-width: $tablet-width) {
  .user-profile {
    padding-top: 64px;

    font-size: $base-font-size * 1.25;

    &.container {
      padding-left: 75px;
      padding-right: 75px;
    }
  }

  .user-profile__group {
    flex-direction: column-reverse;

    &--tags {
      padding: 0;
      order: 5;

      .user-profile__legend {
        margin-top: -13px;
        margin-bottom: -20px;
      }
    }

    &--transports {
      width: 50%;
      padding-top: 23px;
      padding-bottom: 0;
      order: 2;

      .user-profile__legend {
        margin-top: 13px;
        margin-bottom: -16px;
      }

      .transports__item {
        margin-right: 6px;

        &:last-child {
          margin-right: 0;
        }
      }

      .custom-checkbox__label {
        width: 45px;
        height: 45px;
      }
    }
  }

  .user-profile__legend {
    margin-top: 10px;
    margin-bottom: -35px;
    letter-spacing: 0.07em;
  }

  .user-profile__user-level {
    margin-left: 0;
    order: 1;
  }

  .user-profile__user-picture {
    width: 94px;
    height: 94px;
    margin-right: 0;
    border-radius: $base-border-radius;
    order: 3;
  }

  .user-profile__button {
    margin-top: 33px;
    margin-bottom: 51px;

    font-size: $base-font-size * 1.25;
    letter-spacing: 0.1em;
    order: 4;

    .button {
      min-height: 60px;
      border-radius: 10px;
    }
  }

  .user-profile__textarea {
    padding: 35px 32px 10px 38px;
  }
}

@media (min-width: $desktop-width) {
  .user-profile {
    padding-top: 70px;
    padding-bottom: 66px;
    align-items: center;

    &.container {
      padding-left: 125px;
      padding-right: 60px;
    }
  }

  .user-profile__group {
    &--tags {
      width: 730px;
      margin-bottom: 0;
      order: 4;

      .user-profile__legend {
        align-self: flex-start;
        margin-left: 20px;
      }
    }

    &--transports {
      width: 384px;
      align-self: stretch;
      order: 5;

      .transports__item {
        margin-right: 0;
      }
    }
  }

  .user-profile__user-level {
    position: absolute;
    top: -148px;
    right: 390px;

    .user-level__content,
    .user-level__number {
      color: $white;
      background-color: transparent;
    }
  }

  .user-profile__user-picture {
    position: absolute;
    top: -190px;
    right: 155px;
    width: 190px;
    height: 190px;
    border-radius: 0;
  }

  .user-profile__button {
    position: absolute;
    top: 0;
    right: 154px;
    width: 190px;
    margin: 0;

    .button {
      min-height: 48px;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }

    .button__text-item {
      display: none;
    }
  }
}
