.user-plans {
  padding-top: 28px;
  padding-bottom: 30px;
  background-color: $main-color-light-50;

  @include brs-top(30px, $main-color-light, $main-color-light-50);

  .secondary-title {
    margin-bottom: 29px;
  }
}

.user-plans__list {
  @include reset-list;
}

.user-plans__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .user-plans {
    padding-top: 54px;
    padding-bottom: 76px;

    .container {
      padding-left: 75px;
      padding-right: 75px;
    }

    .secondary-title {
      margin-bottom: 49px;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-plans {
    padding-bottom: 64px;

    @include brs-top(60px, $main-color-light, $main-color-light-50);

    .container {
      padding-left: 123px;
      padding-right: 60px;
    }

    .secondary-title {
      margin-left: 10px;
    }
  }

  .user-plans__item {
    margin-bottom: 18px;
  }
}
