/* .user-level {

} */

.user-level__content {
  font-weight: 400;
  font-size: $base-font-size * 0.875;
  line-height: 1;
}

.user-level__number {
  font-weight: 600;
  font-size: $base-font-size * 1.5;
  line-height: 1;
}
