.users {
  padding-top: 60px;
  padding-bottom: 30px;
  background: url("../img/smolov-back-desktop@1x.png") no-repeat right 25px top 35px / 143px,
              url("../img/rogovaya-back-mobile@1x.png") no-repeat left -10px top 300px / 61px 71px;
  background-color: $main-color-darker-30;
}
