.user-profile {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 30px;
}

.user-profile__group {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 20px 0;
  margin: 0;
  margin-bottom: 15px;
  border: 1px solid rgba($main-color-darker-30, 0.15);
  border-radius: $base-border-radius;

  &:last-child {
    margin-bottom: 0;
  }

  &--tags {
    order: 4;
  }

  &--transports {
    order: 5;
  }
}

.user-profile__legend {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: -30px;
  margin-bottom: 10px;

  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  color: $main-color-darker-30;
  background-color: $main-color;
  cursor: text;
}

.user-profile__user-level {
  margin-bottom: 19px;
  order: 1;
}

.user-profile__user-picture {
  margin-bottom: 19px;
  order: 2;
}

.user-profile__button {
  width: 100%;
  margin-bottom: 25px;
  order: 3;

  .button {
    width: inherit;
  }
}

.user-profile__textarea {
  display: block;
  width: 100%;
  padding: 0 33px 0 24px;
  border: 0;
  background-color: transparent;
  text-align: left;
  resize: none;
}

@media (min-width: $tablet-width) {
  .user-profile {
    font-size: $base-font-size * 1.25;
  }

  .user-profile__group {
    flex-direction: column-reverse;

    &--tags {
      order: 5;
    }

    &--transports {
      width: 50%;
      order: 2;
    }
  }

  .user-profile__legend {
    margin-top: 10px;
    margin-bottom: -35px;
  }

  .user-profile__user-level {
    order: 1;
  }

  .user-profile__user-picture {
    border-radius: $base-border-radius;
    order: 3;
  }

  .user-profile__button {
    order: 4;

    .button {
      min-height: 60px;
      border-radius: 10px;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-profile {
    padding-top: 70px;
    align-items: center;
  }

  .user-profile__group {
    &--tags {
      width: 730px;
      margin-bottom: 0;
      order: 4;

      .user-profile__legend {
        align-self: flex-start;
        margin-left: 20px;
      }
    }

    &--transports {
      width: 384px;
      align-self: stretch;
      order: 5;
    }
  }

  .user-profile__user-level {
    position: absolute;
    top: -130px;
    right: 379px;

    .user-level__content,
    .user-level__number {
      color: $white;
      background-color: transparent;
    }
  }

  .user-profile__user-picture {
    position: absolute;
    top: -190px;
    right: 144px;
    width: 190px;
    height: 190px;
    border-radius: 0;
  }

  .user-profile__button {
    position: absolute;
    top: 0;
    right: 144px;
    width: 190px;

    .button {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }

    .button__text-item {
      display: none;
    }
  }
}
