.user-level {
  position: relative;
  width: 61px;
  height: 61px;
  text-align: center;

  &--large {
    width: 100px;
    height: 100px;
    z-index: 1;

    .user-level__progress {
      top: -6px;
      left: -6px;
      width: 111px;
      height: 111px;
    }

    .user-level__content {
      font-size: $base-font-size * 1.125;
      background-color: $main-color;
    }

    .user-level__number {
      margin-bottom: 10px;
      border-bottom: 2px solid #cbced9;
      font-size: $base-font-size * 2.375;
      color: $main-color-darker-30;
    }

    circle {
      fill: transparent;
      stroke-width: 3;
      stroke: $main-color-accent-darker-30;

      &.progress-25 {
        $percen: 25;
        stroke-dasharray: (333 * $percen / 100) 340;
      }

      &.progress-50 {
        $percen: 50;
        stroke-dasharray: (333 * $percen / 100) 340;
      }

      &.progress-80 {
        $percen: 80;
        stroke-dasharray: (333 * $percen / 100) 340;
      }

      &.progress-99 {
        $percen: 99;
        stroke-dasharray: (333 * $percen / 100) 340;
      }
    }
  }

  &--only-number {
    .user-level__content {
      background-color: $white;
    }

    .user-level__number {
      border-bottom: 0;
      font-size: $base-font-size * 1.5;
      color: $main-color-darker-30;
    }

    .user-level__text {
      display: none;
    }
  }
}

.user-level__content {
  position: relative;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: inherit;

  font-weight: 400;
  font-size: $base-font-size * 0.875;
  line-height: 1;
  text-align: center;
  border-radius: 50%;
  background-color: rgba($black, 0.6);

  /* &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 106px;
    height: 106px;
    background-image: linear-gradient(to right, transparent 50%, $main-color-accent-darker-30 50%);
    border-radius: 100% / 100%;
    z-index: -2;
    overflow: hidden;
  } */

  /* &::after {
    content: "";
    position: absolute;
    top: -3px;
    right: -3px;
    width: 53px;
    height: 106px;
    background-color: inherit;
    border-radius: 0 100% 100% 0 / 50%;
    transform-origin: left;
    transform: rotate(0deg);
    z-index: -1;
    animation:
      spin 3s linear infinite,
      bg 6s step-end infinite;
  } */
}

@keyframes spin {
  to {
    transform: rotate(180deg);
  }
}

@keyframes bg {
  50% {
    /* border-radius: 0 100% 100% 0 / 50%; */
    background-color: $main-color-accent-darker-30;
  }
}

.user-level__number {
  margin-bottom: 4px;

  font-weight: 600;
  font-size: $base-font-size * 1.5;
  line-height: 1;
  color: $white;
  border-bottom: 1px solid #cbced9;
}

.user-level__progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 62px;
  height: 62px;
  transform: rotate(-90deg);

  circle {
    fill: transparent;
    stroke-width: 3;
    stroke: $main-color-accent-darker-30;

    &.progress-25 {
      $percen: 25;
      stroke-dasharray: (189 * $percen / 100) 187;
    }

    &.progress-50 {
      $percen: 50;
      stroke-dasharray: (189 * $percen / 100) 187;
    }

    &.progress-80 {
      $percen: 80;
      stroke-dasharray: (189 * $percen / 100) 187;
    }

    &.progress-99 {
      $percen: 99;
      stroke-dasharray: (189 * $percen / 100) 187;
    }
  }
}
